html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: lightgray; /*ВРЕМЕННО*/
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.button {
  display: inline-block;
  padding: 17px 45px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
  min-width: 278px;
  font-size: 21px;
  font-weight: bold;
  cursor: pointer;
}

.button:hover {

}

.button:active {

}

.button:disabled {

}

.container {
  width: 1200px;
  margin: 0 auto;

  background-color: lightskyblue; /*ВРЕМЕННО*/
}